<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.profilehomepage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProfileHomepage">
        <activity
            android:name=".UpdateBook"
            android:parentActivityName=".ViewBooks" />
        <activity android:name=".Homepage" />
        <activity android:name = ".MainActivity"/>
        <activity android:name=".UBookRegister" />
        <activity android:name=".UBookLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewBooks"
            android:parentActivityName=".MyProfile" />
        <activity
            android:name=".Upload"
            android:parentActivityName=".MyProfile" />
        <activity
            android:name=".MyProfile"
            android:parentActivityName=".Homepage" />
        <activity
            android:name=".SearchPage"
            android:parentActivityName=".Homepage" />
        <activity
            android:name=".chatwithseller"
            android:parentActivityName=".SearchPage"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>